// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.flex-container
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.flex-block
  position: relative
  width: 45%
  text-align: center
  margin: 0.75em
  @media (max-width: $screen-md)
    width: 80%
  -webkit-box-shadow: 5px -2px 32px 0px rgba(93,93,102,1)
  -moz-box-shadow: 5px -2px 32px 0px rgba(93,93,102,1)
  box-shadow: 5px -2px 32px 0px rgba(93,93,102,1)
  padding-top: 1em

.checkbox-label
  display: block

.bottom-right-corner
  text-align: right
  
.margin-top-mini
  margin-top: 0.5em

.input-centered
  text-align: center
  
.remove_fields
  color: white